<form class="form-inline"
      [formGroup]="form">
    <div class="form-group">
        <input type="search"
               class="form-control"
               placeholder="Enter search string"
               #search>
    </div>
    <button type="button" class="btn btn-primary" (click)="doSearch(search.value)">Search</button>
</form>

<hr>

<div class="text-center">
    <p class="lead" *ngIf="loading">Loading...</p>
</div>

<ul class="list-group">
    <li *ngFor="let track of itunes.results" class="list-group-item">
        <img src="{{track.thumbnail}}">
        <a href="{{track.link}}" target="_blank">
            {{track.name}}
        </a>
    </li>
</ul>