<form class="form-inline"
      [formGroup]="form">
    <div class="form-group">
        <input type="search"
               class="form-control"
               placeholder="Enter search string"
               [formControl]="searchField">
    </div>
</form>

<hr>

<div class="text-center">
    <p class="lead" *ngIf="loading">Loading...</p>
</div>

<ul class="list-group">
    <!--async automatically subscribe/unsubscribe items from our observable-->
    <li *ngFor="let track of results | async" class="list-group-item">
        <img src="{{track.thumbnail}}">
        <a href="{{track.link}}" target="_blank">
            {{track.name}}
        </a>
    </li>
</ul>