<form novalidate
      [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <fieldset formGroupName="name">
        <div class="form-group">
            <label>First Name</label>
            <input type="text"
                   class="form-control"
                   formControlName="firstName">
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text"
                   class="form-control"
                   formControlName="lastName">
        </div>
    </fieldset>


    <div class="form-group" [ngClass]="{
        'has-success' : email.valid && (email.dirty || email.touched),
        'has-danger' : email.invalid && (email.dirty || email.touched)
    }">
        <label>Email</label>
        <input type="email"
               class="form-control"
               formControlName="email">

        <div class="form-control-feedback"
             *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">E-mail is required</p>
            <p *ngIf="email.errors.pattern">E-mail address must contain at least @ character</p>
            <p *ngIf="email.errors.email && email.value">There is something wrong with</p>
        </div>

        <!--
        <pre>{{email.errors | json}}</pre>
        <pre>Dirty? {{email.dirty}}</pre>
        <pre>Pristine? {{email.pristine}}</pre>
        <pre>Touched? {{email.touched}}</pre>
        <pre>Untouched? {{email.untouched}}</pre>
        <pre>Valid? {{email.valid}}</pre>
        <pre>Invalid? {{email.invalid}}</pre>
        -->
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password"
               class="form-control"
               formControlName="password">
    </div>

    <div class="form-group">
        <label>Language</label>
        <select class="form-control"
                formControlName="language">
            <option value="">Please select a language</option>
            <option *ngFor="let lang of langs"
                    [value]="lang">
                {{lang}}
            </option>
        </select>
    </div>

    <!--<pre>{{myForm.value | json}}</pre>-->

    <button class="btn btn-primary" type="submit">
        Send
    </button>
</form>